body.home {
    .intro-container {
        position: relative;
        text-align: center;
        overflow: hidden;

        img.intro-image {
            max-width: 200%;
            margin-left: -50%;
        }
        h1 {
            height: 115px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .strike {
            position: relative;
            display: inline-block;
            &:after {
                display: block;
                content: "";
                border: 2px solid red;
                height: 2px;
                width: 100%;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                transform: rotate(-14deg);
            }
        }
        @media (min-width: @screen-md-min) {
            h1 {
                height: 50px;
            }
            img.intro-image {
                max-width: 100%;
                margin-left: 0;
            }
        }

    }

    .blog-hdr {
        margin: 0;
        padding: 20px 10px;
        background-color: @dark-gray;
    }
    .blogs-list {
        background-color: @dark-gray;

        dd {
            .clearfix;
        }

        .blog-date {
            font-size: 20px;
            line-height: 1;
            font-family: @font-oswald;
            font-weight: bold;
            color: @nero-gray;

            @media (min-width: @screen-sm-min) {
                font-size: 36px;
                .make-sm-column(4);
                padding-left: @gutter;

                span {
                    display: block;
                    margin-left: -5px;
                    font-size: 130px;
                }
            }
        }

        .blog-image {
            .make-sm-column(8);
            height: 215px;
            overflow-y: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }

        .blog-text {
            text-align: center;

            @media (min-width: @screen-sm-min) {
                text-align: left;
                padding: 0 @gutter;
            }
        }
    }

    .social-channels {
        h2.header {
            background-color: @black;
            color: @white;
            padding: 30px;
            margin: 0;
            font-size: 36px;
            border-top: 1px dotted @very-light-gray;
            border-bottom: 1px dotted @very-light-gray;

            &:after {
                display: inline-block;
                float: right;
                content: "\e804";
                font-family: 'fontello';
                font-size: 40px;
                color: @white;
            }
        }
        .twitter {
            h2.header {
                &:after {
                    content: "\e80d";
                }
            }
        }
        .pinterest {
            .widget-title {
                display: none;
            }
            h2.header {
                &:after {
                    content: "\e803";
                }
            }
        }
        .pins-feed-list {
            margin: 0;
            padding: 0;
        }
        .pins-feed-item {
            img {
                width: 100%;
                height: auto;
            }
        }

        @media (min-width: @screen-md-min)  {
            h2.header {
                border: none;
            }
        }
    }

}
