.services {
    .sec-entrepreneur {
        min-height: 400px;
    }
    .sec-work {
        min-height: 360px;

        .sec-details {
            top: auto;
        }
    }

    @media (min-width: @screen-sm-min) {
        .sec-entrepreneur {
            .sec-details {
                width: 80%;
                height: 70%;
            }
        }
        .sec-work {
            min-height: 480px;
        }

    }

    @media (min-width: @screen-md-min) {
        .sec-entrepreneur {
            .sec-details {
                height: auto;
            }
        }
    }

    @media (min-width: @screen-lg-min) {
        .sec-entrepreneur {
            .sec-details {
                height: 50%;
            }
        }
    }
}
