
@grid-gutter-width:         0px;
@gutter:                    30px;

// Color names from http://www.color-blindness.com/color-name-hue/
@white:                     #fff;
@black:                     #000;
@dark-gray:              #b2b2b2;
@nero-gray:              #222222;


img {
  max-width: 100%;
}
