.footer-top {
  overflow-x: hidden;

  .sec-details {
    padding-top: 10px;

    h3,
    .btn {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 10px 0;
    }
  }

  img {
    max-width: none;
    float: right;
    margin-right: -55%;
  }

  @media (min-width: 400px) {
    .sec-details {
      padding-top: 30px;

      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-left: -1px;
      }
      h3,
      .btn {
        display: inline-block;
        color: @black;
        border-color: @black;
        margin-right: 20px;
      }
      .btn {
        margin-top: 0 !important;
        padding: 5px 30px;
      }
    }
    img {
      float: none;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

.global-footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: @gutter/2 @gutter;
  font-size: 11px;
  text-align: center;
  color: @very-light-gray;

  a, span {
    color: @white !important;
    text-decoration: none;
  }

  .footer-logo {
    display: inline-block;
    vertical-align: middle;

    svg.logo {
      width: 130px;
      height: 60px;
      position: relative;
      top: 2px;
    }
  }

  .copyright {
    display: inline-block;
    vertical-align: middle;

    p {
      padding: 0;
      margin: 0;
      line-height: 1.5;
    }
  }

  @media (min-width: @screen-md-min) {
    text-align: left;

    .footer-logo {
      padding-right: @gutter;
    }
  }

  .footer-social {
    ul {
      text-align: center;
    }

    li {
      font-family: 'fontello';
      font-size: 20px;
      padding-right: 12px;
      padding-top: 20px;
    }

    @media (min-width: @screen-md-min) {
      ul {
        text-align: right;
      }
    }
  }
}
