.white {
  color: @white;
}

.black {
  color: @black;
}

.btn-primary-outline {
  .btn-primary;
  text-transform: uppercase;
  border-radius: 0;
  background-color: transparent;
  border: 2px solid @white;
  padding: 6px 15px;

  &, a {
    display: inline-block;
    color: @white;
    font-family: @font-oswald;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      background-color: @white;
      text-decoration: none;
      border-color: @white;
      color: @black;
    }
  }

  @media (min-width: @screen-md-min) {
    padding: 12px 25px;

    &,a {
      font-size: 19px;
    }
  }

  &.white {
    border-color: @white;
    color: @white;
  }

  &.black {
    border-color: @black;
    color: @black;
  }
}

.text-over-img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
