.intro-container.intro {
    position: relative;
    text-align: center;
    overflow: hidden;

    img.intro-image {
        max-width: 200%;
        margin-left: -50%;
    }
    .intro-hed {
        display: flex;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        h1 {
            margin: auto;
            line-height: 1.3;
        }
    }
    .strike {
        position: relative;
        display: inline-block;
        &:after {
            display: block;
            content: "";
            border: 2px solid red;
            height: 2px;
            width: 100%;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            transform: rotate(-14deg);
        }
    }
    @media (min-width: @screen-md-min) {
        h1 {
            max-width: 50%;
        }
        img.intro-image {
            max-width: 100%;
            margin-left: 0;
        }
    }
}

.container-fluid.section,
.section-tile {
    position: relative;

    .sec-details {
        padding: @gutter;

        h3 {
          margin-top: 0;
        }
    }

    @media (min-width: @screen-md-min) {
        display: flex;

        .sec-details {
            padding: @gutter * 2;

            .btn {
              margin-top: 10px;
            }
        }

        .col-right {
            .cols {
                height: 50%;
                width: 100%;
                position: absolute;

                &:first-child {
                    top: 0;
                }
                &:last-child {
                    bottom: 0;
                    display: flex;
                }
            }
        }
        .col-left {
            .text-over-img {
                left: auto;
                margin-top: @gutter;
                margin-right: @gutter;
            }
        }
    }

    .eqh-rows-2 {
        position: relative;

        @media (min-width: @screen-md-min) {
            .eqh-row {
                position: absolute;
                height: 50%;

                &:first-child {
                    top: 0;
                }
                &:last-child {
                    bottom: 0;
                }
            }
        }
    }
}

.flex-container {
    display: block;

    @media (min-width: 980px) {
        display: flex;
        align-items: stretch;

        .flex-col {
            flex: 1 0 50%;
        }
    }
}

.split-col {
    .top,
    .bottom {
        height: 50%;
        width: 100%;
        position: absolute;
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }
}

.section-tile {
    &.col-flip {
        .col-1 {
            order: 2;
        }
    }
    &.full-width {
        .col-1 {
            display: none;
        }
        .col-2 {
            width: 100%;
        }
    }
    &.text-top-right {
        @media (min-width: 980px) {
            .sec-details {
                width: 50%;
                left: auto;
            }
        }
    }
    &.text-top-left {
        @media (min-width: 980px) {
            .sec-details {
                width: 50%;
                right: auto;
            }
        }
    }
    &.text-center {
        @media (min-width: 980px) {
            .sec-details {
                width: 50%;
            }
        }
    }
}
